Repository vladiwanov/ivanov-tech-consult: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

changed Electrical concept style
  src/components/Directions/Electrical/Electrical.js
  src/components/Directions/Electrical/Electrical.module.scss
  src/styles/components/_imageStyles.scss
Due: prettier --write, eslint --fix

cleaned outline in electrical styles
  src/components/Directions/Electrical/Electrical.module.scss
Due: prettier --write

fixed consulting and alternative modules style
  package-lock.json
  package.json
  src/components/Directions/AlternativeEnergy/AlternativeEnergy.js
  src/components/Directions/AlternativeEnergy/AlternativeEnergy.module.scss
  src/components/Directions/ConsultingDirection/ConsultingDirection.js
  src/components/Directions/ConsultingDirection/ConsultingDirection.module.scss
  src/components/Directions/Electrical/Electrical.js
  src/components/Directions/Electrical/Electrical.module.scss
  src/styles/components/_business.scss
  src/styles/components/_directionStyles.scss
Due: prettier --write, eslint --fix

fixed security and av modules style
  src/components/Directions/AlternativeEnergy/AlternativeEnergy.js
  src/components/Directions/AlternativeEnergy/AlternativeEnergy.module.scss
  src/components/Directions/AudioVisualSystems/AudioVisualSystems.js
  src/components/Directions/AudioVisualSystems/AudioVisualSystems.module.scss
  src/components/Directions/InformationSystems/InformationSystems.js
  src/components/Directions/SecuritySystems/SecuritySystems.js
  src/components/Directions/SecuritySystems/SecuritySystems.module.scss
  src/styles/components/_business.scss
  src/styles/components/_text.scss
Due: prettier --write, eslint --fix

fixed hero , firedefender styles
  .DS_Store
  src/components/Directions/FireDefenderSystems/FireDefenderSystems.js
  src/components/Directions/FireDefenderSystems/FireDefenderSystems.module.scss
  src/styles/css-partials/_hero.scss
Due: prettier --write, eslint --fix

cleaned test
  src/components/Test/Example/Example.js
  src/components/Test/Example/Example.module.scss
  src/components/Test/Example/index.js
  src/components/Test/Test.js
  src/components/Test/Test.module.scss
  src/components/Test/TestComponent1/TestComponent1.js
  src/components/Test/TestComponent1/TestComponent1.module.scss
  src/components/Test/TestComponent1/index.js
  src/components/Test/TestComponent2/TestComponent2.js
  src/components/Test/TestComponent2/TestComponent2.module.scss
  src/components/Test/TestComponent2/index.js
  src/components/Test/index.js
Due: prettier --write, eslint --fix

fixed bgi style in informSystems
  .vscode/settings.json
  src/components/Directions/AlternativeEnergy/AlternativeEnergy.js
  src/components/Directions/AudioVisualSystems/AudioVisualSystems.js
  src/components/Directions/ConsultingDirection/ConsultingDirection.js
  src/components/Directions/Electrical/Electrical.js
  src/components/Directions/FireDefenderSystems/FireDefenderSystems.js
  src/components/Directions/InformationSystems/InformationSystems.module.scss
  src/views/HomePage/HomePage.js
Due: prettier --write, eslint --fix

changed bgi in infornsystems
  src/components/Directions/InformationSystems/InformationSystems.module.scss
  src/images/informSys.jpeg
Due: prettier --write

fixed languageButton size for desktop
  src/components/LanguageButton/LanguageButton.module.scss
  src/components/Navigation/Navigation.module.scss
Due: prettier --write

removed a/v direction
  src/components/Directions/Directions.js
Due: prettier --write, eslint --fix

removed A/V navigation
  src/db/en/navigation-en.js
  src/db/ua/navigation-ua.js
Due: prettier --write, eslint --fix

c-ch
  .idea/misc.xml
Due: none

changed lang structure
  src/components/Directions/CCTV/CCTV.module.scss
  src/components/Directions/CCTV/index.js
  src/components/tools/Creator/Creator.js
  src/components/tools/LanguageContentSelector/contentEn.js
  src/components/tools/LanguageContentSelector/contentUa.js
  src/db/en/CCTV-en.js
  src/db/ua/CCTV-ua.js
Due: prettier --write, eslint --fix

modified contentLanguageSelector
  src/components/tools/LanguageContentSelector/LanguageContentSelector.js
Due: prettier --write, eslint --fix

modified paralax Item
  .DS_Store
  src/components/BGParallax/BGParallax.js
  src/components/BGParallax/BGParallax.module.scss
  src/components/BGParallax/index.js
  src/components/Hero/Hero.module.scss
  src/styles/components/_parallax.scss
  src/styles/utils/_global.scss
  src/views/HomePage/HomePage.js
Due: prettier --write, eslint --fix

added new animationstyle
  package-lock.json
  package.json
  src/components/Directions/Electrical/Electrical.js
  src/components/Directions/InformationSystems/InformationSystems.module.scss
  src/styles/components/_animation.scss
  src/styles/components/_animationOLD.scss
Due: prettier --write, eslint --fix

fixed place maxLenght
  .DS_Store
  src/components/Submit/FormSubmit/InputForm/InputForm.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{json,css,scss,md}) or (any of: src/**/*.{js,jsx,ts,tsx,tsx})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx,tsx}
